@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

h1 {
  margin-block: 0;
}

html {
  font-size: 14px;
}

body {
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  background-color: #334467;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 4.5rem;
  background-color: #142751;
  padding-inline: 1.2rem;
}
header .search-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}
header .search-nav .search-input {
  background-color: #334467;
  border: none;
  width: 300px;
  height: 40px;
  border-radius: 4px;
  padding-inline-start: 1rem;
  font-size: 1rem;
  text-align: start;
  /* Evita lo zoom mobile sull'input */
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}
header .search-nav ::placeholder {
  color: #fff;
  opacity: 0.7;
}
header .search-nav input:focus {
  border: none;
  outline: none;
}
header .search-nav .search-button {
  position: absolute;
  background: none;
  border: none;
  right: 5%;
  top: 30%;
}
header .search-nav :where(.search-icon, .location-icon, .star-icon) {
  font-size: 1.1rem;
  opacity: 0.7;
}
header .search-nav :where(.search-icon, .location-icon, .star-icon):hover {
  opacity: 1;
}

main {
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  padding: 0 35px;
}
main .weather-data {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 0.4rem;
  text-align: center;
}
main .city-name {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
main .condition {
  font-size: 1.5rem;
  font-weight: 300;
}
main .weather-temp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
main .weather-temp .actually-weather-image {
  width: 60px;
}
main .weather-temp .actually-temp {
  font-size: 5rem;
  font-weight: 100;
}
main .condition-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
main .condition-info div {
  width: 60px;
}
main .condition-info .condition-image {
  width: 25px;
}
main .days-forecast {
  width: 100%;
  max-width: 900px;
}
main .days-forecast i {
  display: none;
}
main .days-forecast .weather-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 0;
  list-style-type: none;
}
main .days-forecast .weather-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 130px;
  background-color: #142751;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
}
main .days-forecast .weather-cards :where(.week-day-title, .temp-week) {
  font-size: 1.5rem;
}
main .days-forecast .weather-cards .temp-week {
  font-weight: 600;
}
main .days-forecast .weather-cards .weather-image {
  width: 50px;
}
main .days-forecast .weather-cards .condition-week {
  letter-spacing: 0.1rem;
}

@media (max-width: 1020px) {
  main .days-forecast {
    position: relative;
  }
  main .days-forecast i {
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    background-color: #142751;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.378);
    transition: transform 0.1s linear;
  }
  main .days-forecast i:active {
    transform: translateY(-50%) scale(0.85);
  }
  main .days-forecast i:first-child {
    transform: translateY(-50%) translateX(-50%);
    left: 0;
  }
  main .days-forecast i:last-child {
    transform: translateY(-50%) translateX(30%);
    right: 0;
  }
  main .days-forecast .weather-cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(25% - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0.9rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  main .days-forecast .weather-cards .card {
    width: auto;
    scroll-snap-align: start;
  }
  main .days-forecast .weather-cards .dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  main .days-forecast .weather-cards .dragging .card {
    cursor: grab;
    user-select: none;
  }
  main .days-forecast .weather-cards::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 680px) {
  header {
    align-items: center;
    justify-content: center;
  }
  main .days-forecast .weather-cards {
    grid-auto-columns: calc(33.3333333333% - 12px);
  }
}
@media (max-width: 450px) {
  main .days-forecast .weather-cards {
    grid-auto-columns: calc(50% - 12px);
  }
}
@media (max-width: 380px) {
  header .search-nav {
    width: 100%;
  }
}
@media (max-width: 320px) {
  main .days-forecast .weather-cards {
    grid-auto-columns: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
